:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__header {
      margin: 0;
    }

    &__nav-list {
      list-style-type: none;
      display: flex;
      flex-direction: row;

      .active {
        background-color:  rgba(0,0,0,.2);
      }
    }
  }

  main {
    padding: 1rem;
  }
}
